version: '3'
services:
  react:
    build: .
    networks:
      - local
    ports:
      - 80:3000
    stdin_open: true
    tty: true
    volumes:
      - .:/var/www/html
      - modulesdata:/var/www/html/node_modules
volumes:
  modulesdata:
    driver: local
networks:
  local:
